*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }



  body {
    height: 100vh;
    display: grid
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(.5fr 30ch) minmax(.5fr 30ch) 5fr;
    grid-template-areas: 
      "sidebar header"
      "sidebar header"
      "sidebar main";
    }

  .header, .sidebar, .main-content {
    background-color: lightgrey;
    padding: .5rem;
  }

  .header {
    grid-area: header;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: minmax(30ch, 3fr) 2fr;
    grid-template-areas:
    "search user-info"
    "greeting buttons";
    background-color: whitesmoke;
    padding-left: 5ch;
    padding-right: 5ch;
    padding-bottom: 2ch;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
  }

  .search, .user-info {
    grid-area: search;
    display: flex;
    gap: 1ch;
    align-items: center;
    margin-bottom: 1ch;
    padding-top: .5ch;
  }

  .user-info {
    grid-area: user-info;
    display: flex;
    gap: 2ch;
    align-items: center;
    justify-content: center;
  }

  .greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: minmax(8ch, .75fr) 5fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1ch;
    margin-top: 1ch;
  }

  .greeting div {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    align-items: center;
  }

  .greeting div p {
    align-self: end;
  }

  .greeting div h2 {
    align-self: start;
  }

  .buttons {
    grid-area: buttons;
    display: grid;
    gap: 1ch;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding-left: 5ch;
    padding-right: 5ch;

  }

  .buttons button {
    border-radius: 20px;
    border: none;
    padding: .5ch 3ch;
    background-color: lightskyblue;
    color: white;
  }

  .search input {
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 1ch;
    background-color: rgb(230, 230, 230);
  }
  
  .search img, .user-info img {
    height: 2.5ch;
    width: auto;
  }

  img.avatar {
    height: 4ch;
    border-radius: 50%;
    padding: .6rem;
    background-color: gold;
    overflow: visible;
  }

  .greeting img {
    height: 8ch;
  }

  .sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-areas: 
    "logo"
    "navigation"
    "navigation";
    background-color: lightskyblue;
    color: white;
    z-index: 2;
  }

  .logo {
    grid-area: logo;
    margin-bottom: 1ch;
    padding-top: .5ch;
  }

  .navigation {
    grid-area: navigation;
    display: grid;
    align-content: start;
    gap: 10ch;
    margin-top: 2.5ch;
  }

  .navigation ul {
    list-style: none;
    padding: 0px;
  }

  .logo {
    display: grid;
    grid-template-columns: minmax(6ch, .75fr) minmax(20ch, 3fr);
    justify-content: center;
    align-items: center;
  }

  .navigation ul li {
    display: grid;
    grid-template-columns: minmax(6ch, .75fr) 3fr;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
  }

  .navigation ul li p {
    font-size: 1.5rem;
  }

  ul img, .logo img {
    height: 4ch;
    width: auto;
    filter: invert(99%) sepia(0%) saturate(7431%) hue-rotate(190deg) brightness(113%) contrast(98%); 
    justify-self: center;
  }

  .logo img {
    height: 6ch;
    width: auto;
    filter: invert(99%) sepia(0%) saturate(7431%) hue-rotate(190deg) brightness(113%) contrast(98%);
    justify-self: center;
  }

  .main-content {
    grid-area: main;
    display: grid;
    grid-template-rows: .25fr 4fr;
    grid-template-columns: 1fr 1fr .75fr;
    grid-template-areas:
    "projects-heading . announcements-heading"
    "cards cards main-sidebar"
  }

  .main-content p {
    color: rgb(100, 100, 100);
  }

  .projects-heading {
    grid-area: projects-heading;
    padding-left: 1rem;
    padding-top: .5rem;
    display: grid;
    align-items: end;
  }

  .announcements-heading {
    grid-area: announcements-heading;
    padding-left: 1rem;
    padding-top: .5rem;
    display: grid;
    align-items: end;
  }

  .cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    padding-top: .25rem;
  }

  .card {
    background-color: white;
    border-left: solid 7.5px gold;
    padding: 3ch;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: .25fr 2fr .25fr;
  }

  .card p {
    padding-bottom: 1.5ch;
  }

  .svg-container {
    display: grid;
    grid-template-columns: repeat(3, 2.5ch);
    gap: 1ch;
    justify-content: end;
    justify-items: end;
  }

  .card img {
    height: 2.5ch;
    width: auto;
  }

  .main-sidebar {
    grid-area: main-sidebar;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
    "announcements"
    "trending-heading"
    "trending";
    padding: 1rem;
    padding-top: .25rem;
    align-content: start;
  }

  .main-sidebar > h2 {
    align-self: end;
    padding-bottom: 1rem;
  }

  .announcements {
    grid-area: announcements;
    border: none;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding-top: .25ch;
    padding-bottom: .25ch;
  }

  .announcements div {
    margin-bottom: .5rem;
  }

  .announcements p {
    font-size: .75rem;
    border-bottom: rgb(160, 160, 160) solid 1px;
  }

  .announcements > div:last-of-type > p {
    border-bottom: none;
}

  .trending-heading {
    grid-area: trending-heading;
    padding-top: 3ch;
    padding-bottom: .25rem;
    display: grid;
    align-content: end;
  }

  .trending {
    grid-area: trending;
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;  
  }

  .trending > div {
    display: grid;
    grid-template-columns: minmax(5ch, 1fr) minmax(20ch, 3fr);
    align-items: center;
    align-content: center;
    justify-items: start;
    padding-bottom: 1rem;
    column-gap: .5rem;
  }

  .trending img {
    align-self: center;
    justify-self: center;
    height: 5ch;
  }

  .trending div:nth-of-type(1) img {
    background-color: aqua;
  }

  .trending div:nth-of-type(3) img {
    background-color: lightpink;
  }

  .trending div:nth-of-type(4) img {
    background-color: greenyellow;
  }

  .trending > div > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
  }

  .trending p {
    padding: 0px;
  }

  .handle {
    align-self: flex-end;
  }

  .trending > div .handle {
    color: black;
  }